*{
  font-family: 'Ubuntu', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: float infinite 2s linear;
  height: 70px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.autocomplete-list {
  position: relative;
  border: 1px solid lightgray;
  background: white;
  width: 400px;
  text-align: left;
  display: inline-flex;
  flex-direction: column;
  top: -12px;
  right: 38px;
  width: 50%;
  padding: 5px;
  font-size: 18px;
}

.autocomplete-list-item {
  margin-bottom: 4px;
  overflow: hidden;
}
.autocomplete-list-item:hover {
  background: #d0ebf4;
}
.search-errors{
  background: tomato;
  padding: 5px;
  font-weight: 600;
  border: 1px solid;
  border-radius: 7px;

}
.search-field {
  width: 50%;
  font-size: 18px;
  margin: 10px;
  padding: 5px;
  height: 20px;
}

.search-button {
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  background-color: cornflowerblue;
  border: 1px solid gray;
  height: 34px;
}

.search-button:hover {
  background-color: coral;
  cursor: pointer;
}
.concept-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.concept-item {
  display: flex;
  max-width: 800px;
  width: 100%;
  border: 1px solid lightgray;
}

.concept-item-icon {
  display: flex;
  margin: 20px;
  align-items: center;
  font-size: x-large;
  color: inherit;
}

.concept-item-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  margin: 10px;
}

.list-message {
  margin: 10px;
  font-size: 18px;
}

.selected {
  border: 1px solid cornflowerblue;
  background: cornflowerblue;
  color: white;
}

.concept-item:hover {
  background: coral;
  border-color: coral;
}

.expand-button {
  font-size: 16px;
}

.expand-button:hover {
  cursor:pointer;
}

.alt-lists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.alt-list h2 {
  margin: 10px;
}

.alt-list{
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 14px;
  max-width: 400px;
  border: lightgray 1px solid;
}

.alt-list-item{
  padding: 0px 10px 0px 10px;
}

.alt-list-item:hover {
  background: lightgray;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes loading-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes float {
  0% {transform: translateY(0px) rotate(5deg);}

  50% {transform: translateY(0px) rotate(-5deg);}

  100% {transform: translateY(0px) rotate(5deg);}
}

.loading {
  animation: loading-spin  infinite 2s linear;
}

.hidden {
  display: none;
  transition: visibility 0s, opacity 0.5s linear;
}
